#test-tooltip {
      visibility: visible;
      width: 420px;
      background-color: white;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      margin-left: 10%;
    
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
    }
    [contenteditable]:focus {
      outline: 0px solid transparent;
  }